<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../visor-accounts/visor-accounts.html">


<dom-module id="visor-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
      [hidden] {
      display: none !important;
    }
    </style>
    <h2>Bienvenido a tu banco online [[first_name]] [[last_name]]</h2>


    <div hidden$ ="{{!user_ok}}"><visor-accounts id ="visor"></visor-accounts></div>

    <iron-ajax
      id="getUser"
      url="http://localhost:3000/happytechubank/v1/users/{{userid}}"
      handle-as="json"
      on-response="showData"
    >
    </iron-ajax>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorUsuario extends Polymer.Element {
      static get is() { return 'visor-usuario'; }
      static get properties() {
        return {
          first_name: {
            type: String
          }, last_name: {
              type: String
          }, email: {
            type: String
          }, userid: {
            type: Number,
            observer: "_useridChanged"
          }, user_ok:{
            type: Boolean,
            value: false
          }, user_id:{
              type: String,
          }, ocultarvisor: {
            type: Boolean,
            value: true
          }
        };
      }
      showData(data){
        console.log("ha llegado respuesta")
        console.log(data.detail.response);
        console.log(data.detail.response.result[0].first_name);
        console.log(data.detail.response.result[0].last_name);
        this.first_name = data.detail.response.result[0].first_name;
        this.last_name=data.detail.response.result[0].last_name;

        //this.$.visor.user_id=data.detail.response._id.$oid;
        this.$.visor.user_id="5d1a249b06040746b6e2d2a3"
        this.user_ok = true;
      }
      _useridChanged(newValue, oldValue){
        this.$.getUser.generateRequest();
      }


    } //Cierra el class

    window.customElements.define(VisorUsuario.is, VisorUsuario);
  </script>
</dom-module>
