<!-- <link rel="import" href="../../bower_components/vaadin-lumo-styles/typography.html"> -->
<link rel="import" href="../../bower_components/vaadin-lumo-styles/sizing.html">
<link rel="import" href="../../bower_components/vaadin-lumo-styles/icons.html">

<custom-style>
  <style>
    html {
      height: 100%;
    }

    body {
      height: 100%;
      margin: 0;
    }
  </style>
</custom-style>

<dom-module id="happytechubank-styles">
  <template>
    <style>
      :host {
        display: block;
        height: 100%;
      }

      #container {
        display: flex;
        height: 100%;
        flex-direction: column;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
      }

      .controls-line {
        display: flex;
        flex: none;
        align-items: center;
        background: var(--lumo-contrast-5pct);
        flex-wrap: wrap;
      }

      .controls-line:first-of-type vaadin-button:not(:last-child) {
        margin-right: var(--lumo-space-s);
      }

      vaadin-form-layout {
        margin-right: var(--lumo-space-xl);
      }

      @media (max-width: 1120px) {
        vaadin-form-layout {
          margin: 0;
        }
      }

      .icon-eur::before,
      .icon-usd::before,
      .icon-gbp::before {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-weight: 600;
        margin: 0 var(--lumo-space-m);
        color: var(--lumo-base-color);
        height: calc(var(--lumo-size-m) / 2);
        width: calc(var(--lumo-size-m) / 2);
        border-radius: 50%;
      }

      .icon-eur::before {
        content: '€';
        background-color: var(--lumo-primary-color);
      }

      .icon-usd::before  {
        content: '$';
        background-color: var(--lumo-success-color);
      }

      .icon-gbp::before  {
        content: '£';
        background-color: var(--lumo-error-color);
      }

      .account-details {
        flex: 1;
        align-items: center;
        flex-basis: auto;
        font-size: var(--lumo-font-size-xxl)

      }

      .account-details small {
        color: var(--lumo-secondary-text-color);
      }

      .account-details span {
        margin-right: var(--lumo-space-m);
      }

      .controls-line-buttons {
        padding: 0 var(--lumo-space-s);
      }

      #add-account span, #add-transaction span {
        display: flex;
        align-items: center;
      }
      #add-account span::before, #add-transaction span::before {
        font-family: 'lumo-icons';
        font-size: var(--lumo-size-s);
        content: var(--lumo-icons-plus);
      }

    </style>
  </template>
</dom-module>
