<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<link rel="import" href="../../bower_components/vaadin-select/vaadin-select.html">
<link rel="import" href="../../bower_components/vaadin-button/vaadin-button.html">
<link rel="import" href="../../bower_components/vaadin-combo-box/vaadin-combo-box.html">
<link rel="import" href="../../bower_components/vaadin-form-layout/vaadin-form-layout.html">

<link rel="import" href="../../public/stylesheets/happytechubank-style.html">
<link rel="import" href="../../bower_components/vaadin-lumo-styles/badge.html">

<dom-module id="create-transaction">
  <template>
    <style include="happytechubank-styles"></style>
    <style include="lumo-badge"></style>
    <div id="container">
        <div class="controls-line">
          <vaadin-horizontal-layout class="account-details" theme="padding">
            <span>Va a realizar una nueva transacción desde la cuenta [[account.account_number]] que tiene un saldo de [[account.amount.amount]] [[account.amount.currency]]</span>
          </vaadin-horizontal-layout>
          <vaadin-horizontal-layout class="controls-line-buttons">
            <vaadin-button on-click='sendTransactions' theme="primary">Realizar</vaadin-button>
          </vaadin-horizontal-layout>
      </div>
      <vaadin-form-layout>
        <vaadin-text-field id="amount" prevent-invalid-input pattern="[0-9,]+" class="large" colspan="1" label="Importe" value={{amount}} required></vaadin-text-field>
        <vaadin-select id="currency" label="Divisa" value="{{currency}}" required>
          <template>
            <vaadin-list-box>
              <vaadin-item value="EUR">EUR</vaadin-item>
            </vaadin-list-box>
          </template>
        </vaadin-select>

        <vaadin-text-field id="account_number" class="large" colspan="1" label="Número de cuenta" value={{account_beneficiary}} required></vaadin-text-field>
        <vaadin-select id="category" label="Categoría" value="{{category}}" required>
          <template>
            <vaadin-list-box>
              <vaadin-item value="EXPENSE">Gasto</vaadin-item>
              <vaadin-item value="INCOME">Ingreso</vaadin-item>
            </vaadin-list-box>
          </template>
        </vaadin-select>

        <vaadin-text-field id="concept" class="large" colspan="2" label="Concepto" value={{concept}} required></vaadin-text-field>
      </vaadin-form-layout>
    </div>
    <iron-ajax
      id="postTransaction"
      url="http://localhost:3000/happytechubank/v1/transactions"
      handle-as="json"
      content-type="application/json"
      method="POST"
      on-response="manageAJAXResponseLogout"
      on-error="showErrorLogout"
      >
    </iron-ajax>
  </template>
  <script>
    /**
     * @customElement
     * @polymer
     */
    class CreateTransaction extends Polymer.Element {
      static get is() { return 'create-transaction'; }
      static get properties() {
        return {
          account : {
            type: Object
          },
          account_beneficiary : {
            type: String
          },
          currency : {
            type: String
          },
          amount : {
            type: Number
          },
          category : {
            type: String
          },
          concept : {
            type: String
          }
        };
      }

      manageAJAXResponseLogout(data) {
        console.log("--manageAJAXResponseLogout--");
        if (this.ategory == "INCOME"){
          this.account.amount.amount += this.amount;
        }else{
          this.account.amount.amount -= this.amount;

        }

        this.dispatchEvent(
          new CustomEvent(
            "accountdetail",
            {
              "detail": this.account
            }
          )
        )
      }

      addZero(i) {
          console.log("--addZero--");
          if (i < 10) {
              i = '0' + i;
          }
          return i;
        }

        fechaActual(){
          console.log("--fechaActual--");
          var hoy = new Date();
          var dd = hoy.getDate();
          var mm = hoy.getMonth()+1;
          var yyyy = hoy.getFullYear();

          dd = this.addZero(dd);
          mm = this.addZero(mm);

          return dd+'/'+mm+'/'+yyyy;
        }

      sendTransactions(){
        console.log("--sendTransactions--");
        var formulariovalido = true;
        if (!this.$.amount.checkValidity()){
          this.$.amount.invalid = true;
          this.$.amount.errorMessage	 = "El importe es obligatorio";
          formulariovalido = false;
        }

        if (!this.$.currency.validate()){
          this.$.currency.invalid = true;
          this.$.currency.errorMessage	 = "La divisa es obligatoria";
          formulariovalido =  false;
        }

        if (!this.$.category.validate()){
          this.$.category.invalid = true;
          this.$.category.errorMessage	 = "El tipo de operación es obligatorio";
          formulariovalido =  false;
        }

        if (!this.$.concept.checkValidity()){
          this.$.concept.invalid = true;
          this.$.concept.errorMessage	 = "El concepto es obligatorio";
          formulariovalido =  false;
        }

        if (!this.$.account_number.checkValidity()){
          this.$.account_number.invalid = true;
          if (this.category="INCOME"){
            this.$.account_number.errorMessage	 = "El número de cuenta origen es obligatorio";
          }else{
            this.$.account_number.errorMessage	 = "El número de cuenta destino es obligatorio";
          }
          formulariovalido =  false;
        }

        if (!formulariovalido) return false;

        var transactionData = {
          "amount": {
              "amount": Number.parseFloat(this.amount),
              "currency": this.currency
          },
          "money_flow": this.category,
          "concept": this.concept,
          "operation_date": this.fechaActual(),
          "origin_amount": {
              "amount": Number.parseFloat(this.amount),
              "currency": this.currency
          },
          "account_beneficiary" : this.account_beneficiary,
          "account": {
              "account_id": this.account._id.$oid,
              "account_number": this.account.account_number
          },
          "order": true
        }
        console.log("Transacción a añadir");
        console.log(transactionData);

        this.$.postTransaction.body = JSON.stringify(transactionData);
        this.$.postTransaction.generateRequest();
      }

      showErrorLogout(error){
        console.log("--showErrorLogout--");
        console.log(error);
      }


    }

    window.customElements.define(CreateTransaction.is, CreateTransaction);
  </script>
</dom-module>
