<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">

<link rel="import" href="../login-usuario/login-usuario.html">
<link rel="import" href="../alta-usuario/alta-usuario.html">
<link rel="import" href="../user-home/user-home.html">
<link rel="import" href="/views/visor-transactions/visor-transactions.html">
<link rel="import" href="/views/visor-accounts/visor-accounts.html">
<link rel="import" href="/views/create-transaction/create-transaction.html">

<dom-module id="user-dashboard">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link href="../../resources/fontawesome/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <div class="form-row" style="background: darkblue;padding:20px">
      <div class="col-9 offset-1">
        <span style="font-size: 28px; color:white;">Happy TechU Bank</span>
      </div>
      <div class="col-auto my-1" hidden$ = "{{isLogged}}">
        <span class="fas fa-user" style="font-size: 24px;color: Dodgerblue;"></span>
        <button type="button" class="btn btn-link" on-click="newclient">Hazte cliente</button>
      </div>
      <div class="col-auto my-1" hidden$ = "{{!isLogged}}">
        <span class="fas fa-user" style="font-size: 24px;color: Dodgerblue;"></span>
        <button type="button" class="btn btn-link">{{first_name}}</button>
      </div>
      <div class="col">
        <button type="button" class="btn btn-info btn-lg" on-click="newaccess" hidden$ = "{{isLogged}}">Entrar</button>
      </div>
      <div class="col">
        <button type="button" class="btn btn-info btn-lg" on-click="logout" hidden$ = "{{!isLogged}}">Salir</button>
      </div>
    </div>
    <div class = "alert alert-danger alert-dismissable" hidden$ = "{{!isErrLogout}}">
      <button type = "button" class = "close" data-dismiss = "alert" aria-hidden = "true">&times;</button>
       No se ha podido cerrar la sesión.
    </div>
    <iron-pages selected="[[componentName]]" attr-for-selected="component-name">
      <div component-name="user-home"><user-home></user-home></div>
      <div component-name="alta-usuario"><alta-usuario on-create="processEventAlta"></alta-usuario></div>
      <div component-name="login-usuario"><login-usuario on-login="processEvent"></login-usuario></div>
      <div component-name="visor-accounts"><visor-accounts id="visoraccounts" on-accountdetail="processEventAccountDetail" user_id={{userid}}></visor-accounts></div>
      <div component-name="visor-transactions"><visor-transactions id="visortransactions" account={{account}} on-volver="processEventReturn" on-createtransaction="processEventEditTransaction"></visor-transactions></div>
      <div component-name="create-transaction"><create-transaction account={{account}} on-accountdetail="processEventAccountDetail"></create-transaction></div>
    </iron-pages>
    <iron-ajax
      id="doLogout"
      url="http://localhost:3000/happytechubank/v1/logout/{{userid}}"
      handle-as="json"
      method="POST"
      on-response="manageAJAXResponseLogout"
      on-error="showErrorLogout"
      >
    </iron-ajax>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class UserDashboard extends Polymer.Element {
      static get is() { return 'user-dashboard'; }
      static get properties() {
        return {
          componentName:{
            type: String,
            value: "user-home"
          }, userid:{
              type: String
          }, isLogged:{
              type: Boolean,
              value: false
          }, first_name:{
              type: String
          }, isErrLogout: {
              type: Boolean,
              value: false
          }, account: {
            type: Object
          }
        };
      }

      processEvent(e){
        console.log("Capturado evento del login");
        console.log(e.detail);
        console.log(e);
        this.userid = e.detail.id;
        this.$.visoraccounts.userid = e.detail.id;
        this.userid = e.detail.id;
        this.first_name=e.detail.first_name;
        this.isLogged=true;
        this.componentName = "visor-accounts";
      }
      processEventReturn(e){
        console.log("Capturado evento volver");
        console.log(e.detail);
        console.log(e);
        this.componentName = "visor-accounts";

      }
      processEventAlta(e){
        console.log("--processEventAlta--");
        console.log("Capturado evento del alta");
        console.log(e.detail);
        console.log(e);
        this.componentName = "login-usuario";
      }

      processEventAccountDetail(e){
        console.log("--processEventAccountDetail--");
        console.log("Capturado evento del detalle de cuenta");
        console.log(e.detail);
        this.$.visortransactions.account = e.detail;
        this.account = e.detail;
        this.componentName = "visor-transactions";
      }

      processEventEditTransaction(e){
        console.log("--processEventEditTransaction--");
        console.log("Capturado evento del detalle de cuenta");
        console.log(e.detail);
        this.componentName = "create-transaction";
      }

      newaccess(){
        this.componentName = "login-usuario"
      }

      newclient(){
        this.componentName = "alta-usuario"
      }

      logout(){
        console.log("logout");
        //console.log(this.$.visoraccounts.userid = e.detail.id);
        this.$.doLogout.generateRequest();
      }

      manageAJAXResponseLogout(data){
        this.componentName = "user-home"
        this.isLogged=false;
        this.first_name="";
        this.userid = "";
      }

      showErrorLogout(error){
        console.log("Hubo un error");
        console.log(error);
        this.isErrLogout =true;
      }

    } //Cierra el class

    window.customElements.define(UserDashboard.is, UserDashboard);
  </script>
</dom-module>
