<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<link rel="import" href="../../bower_components/vaadin-select/vaadin-select.html">
<link rel="import" href="../../bower_components/vaadin-date-picker/vaadin-date-picker.html">
<link rel="import" href="../../bower_components/vaadin-button/vaadin-button.html">
<link rel="import" href="../../bower_components/vaadin-combo-box/vaadin-combo-box.html">


<link rel="import" href="../../bower_components/vaadin-notification/vaadin-notification.html">

<link rel="import" href="../../bower_components/vaadin-form-layout/vaadin-form-layout.html">

<link rel="import" href="../../bower_components/vaadin-grid/vaadin-grid-sort-column.html">
<link rel="import" href="../../bower_components/vaadin-grid/vaadin-grid-column-group.html">
<link rel="import" href="../../bower_components/vaadin-grid/vaadin-grid.html">

<link rel="import" href="../../public/stylesheets/happytechubank-style.html">
<link rel="import" href="../../bower_components/vaadin-lumo-styles/badge.html">

<dom-module id="visor-transactions">
  <template>
    <style include="happytechubank-styles"></style>
    <style include="lumo-badge"></style>
    <div id="container">
      <div class="controls-line">
        <vaadin-horizontal-layout class="account-details" theme="padding">
          <span>Estos son los movimientos de tu cuenta {{account.account_number}} con saldo {{account.amount.amount}} {{account.amount.currency}}</span>
        </vaadin-horizontal-layout>
        <vaadin-horizontal-layout class="controls-line-buttons">
          <vaadin-button on-click='volverVisor' theme="secondary">Volver</vaadin-button>
        </vaadin-horizontal-layout>
      </div>
      <div>
        <vaadin-form-layout>
          <vaadin-combo-box label="Divisa" items="[[items_currency]]" item-value-path="currency" item-label-path="currency" value={{divisa}}></vaadin-combo-box>
          <vaadin-select label="Categoría" value="{{categoria}}">
            <template>
              <vaadin-list-box>
                <vaadin-item value="EXPENSE">Transferencia</vaadin-item>
                <vaadin-item value="INCOME">Abono en cuenta</vaadin-item>
              </vaadin-list-box>
            </template>
          </vaadin-select>
          <vaadin-date-picker label="Fecha desde" value="{{fecha_desde}}"></vaadin-date-picker>
          <vaadin-date-picker label="Fecha hasta" value="{{fecha_hasta}}"></vaadin-date-picker>
        </vaadin-form-layout>
      </div>
      <div class="d-flex justify-content-end">
        <vaadin-horizontal-layout class="controls-line-buttons">
          <vaadin-button alignment="MIDDLE_RIGHT" on-click='__clearFilter' theme="tertiary">Limpiar</vaadin-button>
          <vaadin-button on-click='__searchTransactions' theme="primary">Buscar</vaadin-button>
        </vaadin-horizontal-layout>
      </div>
      <div class="controls-line">
        <vaadin-button id="add-transaction" theme="tertiary" on-click="newTransaction">
          <span>Nueva operación</span>
        </vaadin-button>
      </div>
      <vaadin-grid id="gridTransactions" theme="row-dividers" column-reordering-allowed multi-sort items="[[items_transactions]]">
        <vaadin-grid-column-group resizable>
        <vaadin-grid-sort-column path="operation_date" header="Feha" ></vaadin-grid-sort-column>
        <vaadin-grid-sort-column path="money_flow" header="Categoría" renderer="[[categoryRenderer]]"></vaadin-grid-sort-column>
        <vaadin-grid-sort-column width="400px" path="concept" header="Concepto" ></vaadin-grid-sort-column>
        <vaadin-grid-sort-column path="account_beneficiary" header="Cuenta" ></vaadin-grid-sort-column>
        <vaadin-grid-sort-column text-align="end" path="amount.amount" header="Impote" ></vaadin-grid-sort-column>
        <vaadin-grid-sort-column path="amount.currency" header="Divisa"  renderer="[[currencyRenderer]]"></vaadin-grid-sort-column>
        <vaadin-grid-sort-column path="order" header="Status" renderer="[[orderRenderer]]"></vaadin-grid-sort-column>
        </vaadin-grid-column-group>
      </vaadin-grid>
    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorTransactions extends Polymer.Element {
      static get is() { return 'visor-transactions'; }
      static get properties() {
        return {
          account : {
            type: Object,
            observer: '_accountChanged'
          },
          items_transactions : {
            type:Array
          },
          items_currency : {
            type:Array
          },

          divisa : {
            type: String
          },
          categoria : {
            type: String
          },
          fecha_desde : {
            type: String
          },
          fecha_hasta : {
            type: String
          },


        };
      }

      _accountChanged(newValue, oldValue){
        console.log("--_accountChanged--");
        console.log("Old value was");
        console.log(oldValue);
        console.log("New value was");
        console.log(newValue);

        // Populate the grid with data
        fetch("http://localhost:3000/happytechubank/v1/transactions/"+this.account._id.$oid)
          .then(res => res.json())
          .then(json => this.items_transactions = json.result);

        // Populate the grid with data
        fetch("http://localhost:3000/happytechubank/v1/transactions/"+this.account._id.$oid+"/currencies")
          .then(res => res.json())
          .then(json => this.items_currency = json.result);

        }

        currencyRenderer(root, column, rowData) {
          let signContainer = root.firstElementChild;
          if (!signContainer) {
           signContainer = document.createElement('div');
          }
          signContainer.innerText = rowData.item.amount.currency;
          signContainer.className = 'icon-' + rowData.item.amount.currency.toLowerCase();
          root.appendChild(signContainer);
        }

        orderRenderer(root, column, rowData) {
          root.innerHTML = rowData.item.order ? '<span theme="badge success">Completada</span>' : '<span theme="badge">En proceso</span>';
        }

        categoryRenderer(root, column, rowData) {
          root.innerHTML = rowData.item.money_flow == "INCOME" ? '<span theme="badge success">Ingreso</span>' : '<span theme="badge error">Gasto</span>';
        }

        // __appendInfoNotification(msg) {
        //  const notify = window.document.createElement('vaadin-notification');
        //  notify.renderer = root => root.textContent = msg;
        //  window.document.body.appendChild(notify);
        //  notify.position = 'bottom-start';
        //  notify.duration = 3000;
        //  notify.opened = true;
        //  notify.addEventListener('opened-changed', () => {
        //    window.document.body.removeChild(notify);
        //  });
        // }

        __clearFilter(){
          this.divisa="";
          this.categoria="";
          this.fecha_desde="";
          this.fecha_hasta="";
        }

        __searchTransactions(){
          console.log("--__searchTransactions--");

          var hayfiltro = false;
          var filtro = "";
          if (this.divisa && this.divisa.length>0){
            filtro = "?currency="+this.divisa
            hayfiltro = true;
          }
          if (this.categoria && this.categoria.length>0){
            filtro += hayfiltro ? "&money_flow="+this.categoria : "?money_flow="+this.categoria
            hayfiltro = true;
          }
          if (this.fecha_desde && this.fecha_desde.length>0){
            filtro += hayfiltro ? "&from_operation_date="+this.fecha_desde : "?from_operation_date="+this.fecha_desde
            hayfiltro = true;
          }
          if (this.fecha_hasta && this.fecha_hasta.length>0){
            filtro += hayfiltro ? "&until_operation_date="+this.fecha_hasta : "?until_operation_date="+this.fecha_hasta
            hayfiltro = true;
          }

          // Populate the grid with data
          fetch("http://localhost:3000/happytechubank/v1/transactions/"+this.account._id.$oid+filtro)
            .then(res => res.json())
            .then(json => this.items_transactions = json.result);
        }

        volverVisor(){
          console.log("volver");
          this.dispatchEvent(
            new CustomEvent(
              "volver",
              {
                "detail": {
                  "id":"id"
                }
              }
            )
          )
        }

        newTransaction() {
          console.log("--newTransaction--");
          console.log(this.account);
          this.dispatchEvent(
            new CustomEvent(
              "createtransaction",
              {
                "detail": this.account
              }
            )
          )
        }
    }

    window.customElements.define(VisorTransactions.is, VisorTransactions);
  </script>
</dom-module>
