  <link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html" />

<link rel="import" href="../../bower_components/vaadin-button/vaadin-button.html">

<link rel="import" href="../../bower_components/vaadin-grid/vaadin-grid-sort-column.html">
<link rel="import" href="../../bower_components/vaadin-grid/vaadin-grid.html">

<link rel="import" href="../../public/stylesheets/happytechubank-style.html">
<link rel="import" href="../../bower_components/vaadin-lumo-styles/badge.html">


<dom-module id="visor-accounts">
  <template>
    <style include="happytechubank-styles">
      :host {
        display: block;
      }
    </style>
    <style include="lumo-badge"></style>
    <style>
      vaadin-grid {
        text-transform: none;
      }
    </style>

    <div id="container">
      <div>
        <vaadin-horizontal-layout class="account-details" theme="padding">
          <span>Bienvenido a tu banco online [[first_name]] [[last_name]]</span>
        </vaadin-horizontal-layout>
      </div>
      <br>
      <div>
        <vaadin-horizontal-layout class="account-details" theme="padding">
          <span>Estas son tus cuentas:</span>
        </vaadin-horizontal-layout>
      </div>
      <div class="controls-line">
        <vaadin-button id="add-account" theme="tertiary" on-click="newAccount">
          <span>Contratar cuenta</span>
        </vaadin-button>
      </div>
      <div id="container">
        <vaadin-grid id="gridAccounts" theme="row-dividers" column-reordering-allowed items="[[items_accounts]]" active-item="{{activeItem}}">
          <vaadin-grid-sort-column path="account_number" header="Número de cuenta"></vaadin-grid-sort-column>
          <vaadin-grid-sort-column text-align="end" path="amount.amount" header="Saldo" ></vaadin-grid-sort-column>
          <vaadin-grid-sort-column path="amount.currency" header="Divisa" renderer="[[currencyRenderer]]"></vaadin-grid-sort-column>
          <vaadin-grid-column width="14em" renderer="[[operationRenderer]]"></vaadin-grid-column>
        </vaadin-grid>
      </div>
    </div>



    <iron-ajax
      id="getUser"
      url="http://localhost:3000/happytechubank/v1/users/{{user_id}}"
      handle-as="json"
      on-response="showData"
    >
    </iron-ajax>

    <iron-ajax
      id="getAccounts"
      url="http://localhost:3000/happytechubank/v1/accounts/{{user_id}}"
      handle-as="json"
      on-response="showDataAccounts"
    >
    </iron-ajax>
    <iron-ajax
      id="doCreateAccount"
      url="http://localhost:3000/happytechubank/v1/accounts/"
      handle-as="json"
      content-type="application/json"
      method="POST"
      on-response="showNewDataAccounts"
    >
    </iron-ajax>
    <iron-ajax
      id="doCancelAccount"
      url="http://localhost:3000/happytechubank/v1/accounts/{{account_id}}"
      handle-as="json"
      method="DELETE"
      on-response="showNewDataAccounts"
    >
    </iron-ajax>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorAccounts extends Polymer.Element {
      static get is() { return 'visor-accounts'; }
      static get properties() {
        return {
          user_id : {
           type: String,
           observer: '_useridChanged'
         },

         account_id : {
          type: String
        },

         items_accounts : {
           type:Array
         },

         activeItem: {
           observer: '_activeItemChanged'
         },

         first_name: {
           type: String
         }, last_name: {
             type: String
         }, email: {
           type: String
         }, user_ok:{
           type: Boolean,
           value: false
         }, accountuserid:{
             type: String,
         }, ocultarvisor: {
           type: Boolean,
           value: true
         }, contratar:{
           type: Boolean,
           value: false
         }
       };

      }

      newAccount(){
        console.log("El usario ha pulsado el contratar cuenta");
        console.log("Voy a enviar la peticion");
        this.contratar=true;
        var createAccount={
          "id":this.user_id
        }
        this.$.doCreateAccount.body = JSON.stringify(createAccount);
        this.$.doCreateAccount.generateRequest();
        console.log("Peticion enviada");
        console.log(JSON.stringify(createAccount));
      }
      showNewDataAccounts(data){
        console.log("--showNewDataAccounts--");
        this.contratar=false;
        this.$.getAccounts.generateRequest();
      }
      showDataAccounts(data){
        console.log("--showDataAccounts--");
        this.items_accounts = data.detail.response.result;
      }

      showData(data){
        console.log("ha llegado respuesta")
        console.log(data.detail.response);
        console.log(data.detail.response.result[0].first_name);
        console.log(data.detail.response.result[0].last_name);
        this.first_name = data.detail.response.result[0].first_name;
        this.last_name=data.detail.response.result[0].last_name;
        this.user_ok = true;
        this.$.getAccounts.generateRequest();

      }

      _useridChanged(newValue, oldValue){
        console.log("--_useridChanged--");
        console.log("Old value was " + oldValue);
        console.log("New value was " + newValue);
        this.$.getUser.generateRequest();
        }

        currencyRenderer(root, column, rowData) {
          let signContainer = root.firstElementChild;
          if (!signContainer) {
           signContainer = document.createElement('div');
          }
          signContainer.innerText = rowData.item.amount.currency;
          signContainer.className = 'icon-' + rowData.item.amount.currency.toLowerCase();
          root.appendChild(signContainer);
        }

        operationRenderer(root, column, rowData) {
          let wrapper = root.firstElementChild;
          if (!wrapper) {
            root.innerHTML =
              '<div style="text-align: right">' +
                '<vaadin-button id="view" aria-label="View" theme="icon" focus-target>' +
                  '<iron-icon icon="lumo:eye"></iron-icon>' +
                '</vaadin-button>' +
                '<vaadin-button id="delete" aria-label="Delete" theme="icon error">' +
                  '<iron-icon icon="lumo:cross"></iron-icon>' +
                '</vaadin-button>' +
                '<vaadin-button id="confirmDelete" aria-label="¿Está seguro de dar de BAJA la cuenta?" theme="primary" focus-target hidden>Dar de BAJA</vaadin-button>' +
                '<vaadin-button id="cancel" aria-label="Cancel" hidden>Cancelar</vaadin-button>' +
              '</div>';
            wrapper = root.firstElementChild;
          }
        }

        // VIEW
        ready() {
          this.addEventListener('click', this._onClick);
          super.ready();
        }

        _onClick(e){
          console.log("--_onClick--");
          console.log(e);
          switch (e.path[2].id) {
            case "view":
              this.dispatchEvent(
                new CustomEvent(
                  "accountdetail",
                  {
                    "detail": e.path[7]._item
                  }
                )
              );
              break;
            case "delete":
              e.path[3].childNodes[0].hidden = true;
              e.path[3].childNodes[1].hidden = true;
              e.path[3].childNodes[2].hidden = false;
              e.path[3].childNodes[3].hidden = false;
              break;
            case "confirmDelete":
              this.account_id = e.path[7]._item._id.$oid;
              e.path[3].childNodes[0].hidden = false;
              e.path[3].childNodes[1].hidden = false;
              e.path[3].childNodes[2].hidden = true;
              e.path[3].childNodes[3].hidden = true;
              this.$.doCancelAccount.generateRequest();
              break;
            case "cancel":
              e.path[3].childNodes[0].hidden = false;
              e.path[3].childNodes[1].hidden = false;
              e.path[3].childNodes[2].hidden = true;
              e.path[3].childNodes[3].hidden = true;
              break;
          }
        }

        _activeItemChanged(item) {
          console.log("--_activeItemChanged--");
          this.$.gridAccounts.selectedItems = item ? [item] : [];
        }
    }

    window.customElements.define(VisorAccounts.is, VisorAccounts);
  </script>
</dom-module>
