<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="user-home">
  <template>
    <style>
      :host {
        display: block;
        margin: 20px;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <div class="card mb-3">
      <img src="https://image.freepik.com/vector-gratis/equipo-dibujos-animados-amigos-alegres-tomados-mano_1284-15231.jpg" height="500" class="card-img-top">
      <div class="card-body">
        <h2 class="card-title">Cuentas sin comisiones en transferencias online y en retirada de efectivo a débito.</h2>
        <p class="card-text">Abre tu cuenta bancaria y empieza a disfrutarla hoy mismo.</p>
      </div>
    </div>

    <div class="card-group">
      <div class="card">
        <img src="https://previews.123rf.com/images/olku/olku1606/olku160600025/61043848-persona-altamente-sorprendido-mirando-al-ordenador-ilustraci%C3%B3n-de-dibujos-animados-divertido.jpg" height="300" class="card-img-top">
        <div class="card-body">
          <h3 class="card-title" style="color:darkblue" >Cuenta nómina</h3>
          <h4 class="card-text">Para tu nómina o ingresos.</h4>
          <p class="card-text"><strong>Solo por traer tu nómina</strong> superior a 800 € o recibir transferencias de al menos 2.500 €/trimestre.</p>
        </div>
      </div>
      <div class="card">
        <img src="https://png.pngtree.com/png-clipart/20190617/original/pngtree-hand-drawn-cartoon-student-playing-mobile-phone-internet-addiction-girl-pink-png-image_3848444.jpg" height="300" class="card-img-top">
        <div class="card-body">
          <h3 class="card-title" style="color:darkblue">Cuenta joven</h3>
          <h4 class="card-text">Para menores de 30 años.</h4>
          <p class="card-text"><strong>Sin comisiones</strong> solo por usar tu tarjeta una vez al mes</p>
        </div>
      </div>
      <div class="card">
        <img src="https://image.freepik.com/vector-gratis/hombre-negocios-hablando-telefono-movil-caracter-empresario-dibujos-animados-aislado-sobre-fondo-blanco_36082-32.jpg" height="300" class="card-img-top">
        <div class="card-body">
          <h3 class="card-title" style="color:darkblue">Cuenta negocios</h3>
          <h4 class="card-text">Para tu actividad profesional.</h4>
          <p class="card-text"><strong>Sin comisiones</strong> de administración y mantenimiento <strong>de cuenta</strong> ni de emisión y mantenimiento de la <strong>tarjeta de débito</strong> sólo por domiciliar el pago de tus impuestos, seguros sociales y/o pago de nóminas.</p>
        </div>
      </div>
    </div>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class UserHome extends Polymer.Element {

      static get is() { return 'user-home'; }

      static get properties() {
        return {
        };
      }

    } //Cierra el class

    window.customElements.define(UserHome.is, UserHome);
  </script>
</dom-module>
