<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="alta-usuario">
  <template>
    <style>
      :host {
        display: block;
        margin: 20px;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <div class="alert alert-danger alert-dismissible fade show" role="alert" hidden$ = "{{!isError}}">
      Error en el alta. Revisa los datos.
    </div>

    <div style="padding:20px">
      <h2>Datos de la cuenta</h2>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputEmail">Email</label>
          <input type="email" class="form-control" id="inputEmail" placeholder="Email" value="{{email::input}}" required>
        </div>
        <div class="form-group col-md-6">
          <label for="inputPassword">Password</label>
          <input type="password" class="form-control" id="inputPassword" placeholder="Password" value="{{password::input}}">
        </div>
      </div>
    </div>
    <div style="padding:20px">
      <h2>Datos del cliente</h2>
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="inputName">Nombre</label>
          <input type="text" class="form-control" id="inputName" placeholder="Nombre" value="{{first_name::input}}">
        </div>
        <div class="form-group col-md-4">
          <label for="inputLastName">Primer Apellido</label>
          <input type="text" class="form-control" id="inputLastName" placeholder="Apellido" value="{{last_name::input}}">
        </div>
        <div class="form-group col-md-4">
          <label for="inputMotherName">Segundo Apellido</label>
          <input type="text" class="form-control" id="inputMotherName" placeholder="Apellido" value="{{mother_name::input}}">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-2">
          <select class="custom-select" id="documentType" value="{{document_type::input}}">
            <option selected>Seleccione tipo documento</option>
            <option value="NIF">NIF</option>
            <option value="NIE">NIE</option>
            <option value="Pasaporte">Pasaporte</option>
          </select>
        </div>
        <div class="form-group col-md-2">
          <input type="text" class="form-control" id="inputDocumentnumber" placeholder="Número de documento" value="{{document_number::input}}"></input>
        </div>
      </div>
    </div>
    <div style="padding:20px">
      <h2>Dirección</h2>
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="inputRoute">Tipo y Nombre de la vía</label>
          <input type="text" class="form-control" id="inputRoute" placeholder="Tipo y Nombre de la vía" value="{{via::input}}">
        </div>
        <div class="form-group col-md-1">
          <label for="inputRouteNumber">Número</label>
          <input type="text" class="form-control" id="inputRouteNumber" placeholder="Número" value="{{numero::input}}">
        </div>
        <div class="form-group col-md-5">
          <label for="inputSubpremise">Resto de dirección</label>
          <input type="text" class="form-control" id="inputSubpremise" placeholder="Escalera, piso, puerta..." value="{{resto_direccion::input}}">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-5">
          <label for="inputCity">Municipio</label>
          <input type="text" class="form-control" id="inputCity" placeholder="Municipio" value="{{poblacion::input}}">
        </div>
        <div class="form-group col-md-3">
          <label for="inputAdmiArea1">Provincia</label>
          <input type="text" class="form-control" id="inputAdmiArea1" placeholder="Provincia" value="{{provincia::input}}">
        </div>
        <div class="form-group col-md-2">
          <label for="inputZip">Código postal</label>
          <input type="text" class="form-control" id="inputZip" placeholder="Código postal" value="{{postal_code::input}}">
        </div>
      </div>
    </div>
    <div style="padding:20px">
      <button class="btn btn-primary btn-lg" on-click="crear">Aceptar</button>
    </div>

    <iron-ajax
      id="doCreate"
      url="http://localhost:3000/happytechubank/v1/users"
      handle-as="json"
      content-type="application/json"
      method="POST"
      on-response="manageAJAXResponse"
      on-error="showError"
    >
    </iron-ajax>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class AltaUsuario extends Polymer.Element {
      static get is() { return 'alta-usuario'; }
      static get properties() {
        return {
          first_name: {
            type: String
          }, last_name: {
              type: String
          }, mother_name: {
            type: String
          }, email:{
            type: String
          }, password: {
            type: String
          }, document_type:{
            type: String
          }, document_number:{
            type:String
          }, via:{
            type:String
          },numero:{
            type:Number
          },resto_dirreccion:{
            type:String
          }, provincia:{
            type:String
          }, postal_code:{
            type:String
          }, poblacion:{
            type:String
          },isError:{
            type: Boolean,
            value: false
          }
        };
      }
      crear(){
        console.log("El usario ha pulsado el boton Aceptar");
        console.log("Voy a enviar la peticion");
        var createData={
          "email": this.email,
          "password": this.password,
          "first_name": this.first_name,
          "last_name": this.last_name,
          "mother_name": this.mother_name,
          "document_type": this.document_type,
          "document_number": this.document_number,
          "address": {
            "via": this.via,
            "numero": this.numero,
            "resto_direccion": this.resto_direccion,
            "postal_code": this.postal_code,
            "poblacion": this.poblacion,
            "provincia": this.provincia
          }
        }
        this.$.doCreate.body = JSON.stringify(createData);
        this.$.doCreate.generateRequest();
        console.log("Peticion enviada");
        console.log(JSON.stringify(createData));
      }
      showError(error){
        console.log("Hubo un error");
        console.log(error);
        this.isLogged = false;
        this.isError = true;
      }
      manageAJAXResponse(data){
        console.log("Llegaron los resultados");
        console.log(data.detail.response);
        this.dispatchEvent(
          new CustomEvent(
            "create",  //parametro 1, solo minuscalas y sin cararteres raros
            {  //parametro 2
              "detail" : { //es un object, es el payload
              "email": this.email
              }
            }
          )
        )

      }
    }

    window.customElements.define(AltaUsuario.is, AltaUsuario);
  </script>
</dom-module>
