<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">



<dom-module id="login-usuario">
  <template>
    <style>
      :host {
        display: block;
        margin: 20px;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <h2 style="color:darkblue">Entra a tu banca online</h2>
    <h4>Introduce tu usuario y clave de acceso<h3>
    <div class="form-row">
    <div class="border rounded w-25" style="margin:20px;padding:20px">
      <div class="form-row">
        <div class="form-group col-md-12">
          <label for="formEmail1">Email</label>
          <input type="email" class="form-control" id="formEmail1" placeholder="email@example.com" value="{{email::input}}">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-12">
          <label for="formPassword1">Password</label>
          <input type="password" class="form-control" id="formPassword1" placeholder="Password" value="{{password::input}}">
        </div>
      </div>
      <button class="btn btn-primary btn-lg" on-click="login">Entrar</button>
    </div>
  </div>
  <div class="alert alert-danger alert-dismissible fade show" role="alert" hidden$ = "{{!isError}}">
    Usuario o password erróneos.
  </div>

    <iron-ajax
      id="doLogin"
      url="http://localhost:3000/happytechubank/v1/login"
      handle-as="json"
      content-type="application/json"
      method="POST"
      on-response="manageAJAXResponse"
      on-error="showError"
    >
    </iron-ajax>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginUsuario extends Polymer.Element {

      static get is() { return 'login-usuario'; }

      static get properties() {
        return {
          password: {
            type: String
          }, email: {
            type: String
          }, isError: {
            type: Boolean,
            value: false
          }
        };
      }

      login(){
        console.log("El usario ha pulsado el boton login");
        console.log("Voy a enviar la peticion");
        var loginData={
          "email": this.email,
          "password": this.password
        }
        this.$.doLogin.body = JSON.stringify(loginData);
        this.$.doLogin.generateRequest();
        console.log("Peticion enviada");
      }

      manageAJAXResponse(data){
        console.log("Llegaron los resultados");
        console.log(data.detail.response);
        this.isLogged = true;
          this.dispatchEvent(
            new CustomEvent(
              "login",
                {
                  "detail" : {
                    "id": data.detail.response.id,
                    "first_name": data.detail.response.first_name
                  }
                }
            )
          )

      }

      showError(error){
        console.log("Hubo un error");
        console.log(error);
        this.isError = true;
      }
    } //Cierra el class

    window.customElements.define(LoginUsuario.is, LoginUsuario);
  </script>
</dom-module>
